body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 60px;
    font-size: 300%;
}

#meters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.meter {
    width: 360px; /* original 120 */
    height: 180px; /* original 60 */
    position: relative;
}

.meter svg {
    width: 100%;
    height: 100%;
}

.meter-name {
    margin-top: 30px;
    font-weight: bold;
}

#update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
}

button {
    padding: 15px 45px;
    font-size: 3rem;
}
