body {
    background-color: #242424;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 60px;
    font-size: 300%;
}

#meters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
}

.meter {
    width: 360px; /* original 120 */
    height: 180px; /* original 60 */
    position: relative;
}

.meter svg {
    width: 100%;
    height: 100%;
}

.meter-name {
    margin-top: 30px;
    font-weight: bold;
    color: white;
}

#update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
}

/*button {
    padding: 15px 45px;
    font-size: 3rem;
}*/

button {
    color: white;
    background-color: #222;   /* dark button background */
    border: 1px solid white;
    padding: 15px 45px;
    font-size: 3rem;
    cursor: pointer;
}

input, select {
    color: black;         /* text inside input */
    background-color: white;
    font-size: 2rem;
    padding: 0.3em 0.5em;
}
