body {
    background-color: #242424;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 60px;
    font-size: 300%;
}

#meters-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 160px;   /* vertical gap */
    column-gap: 120px; /* horizontal gap */
}

.meter {
    width: 360px; /* original 120 */
    height: 180px; /* original 60 */
    position: relative;
}

.meter svg {
    width: 100%;
    height: 100%;
}

.meter-name {
    margin-top: 30px;
    font-weight: bold;
    color: white;
}

.meter-comment {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 4px;
}

#update-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 120px;
}

#update-popup-btn {
    position: fixed;
    top: 20px;
    right: 20px;

    font-size: 1rem;
    padding: 10px 10px;

    background-color: #222;
    color: white;
    border: 2px solid white;
    border-radius: 0px;

    cursor: pointer;
    z-index: 9999; /* stays above everything */
}

/*button {
    padding: 15px 45px;
    font-size: 3rem;
}*/

button {
    color: white;
    background-color: #222;   /* dark button background */
    border: 1px solid white;
    padding: 15px 45px;
    font-size: 3rem;
    cursor: pointer;
}

input, select {
    color: black;         /* text inside input */
    background-color: white;
    font-size: 2rem;
    padding: 0.3em 0.5em;
}

textarea#comment {
    color: black;
    background-color: white;
    font-size: 2rem;
    padding: 0.5em;
    width: 600px;   /* make it wider */
    height: 40px;  /* make it taller */
    resize: vertical; /* allow vertical resizing */
}

.lock-icon {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 4rem;
}

#locked {
    width: 40px;    /* default is usually 16px */
    height: 40px;
    transform: scale(1.5); /* alternative way to enlarge */
    margin-right: 10px;    /* spacing from the label text */
}

.meter {
    cursor: url("assets/gun_128.png") 24 38, pointer;
}